* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

li {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

.container-fita {
  background-color: #000;
  width: 100vw;
  overflow: hidden;
}

.fita {
  display: flex;
  width: max-content;
  overflow: hidden;
  gap: 1rem;
  padding: 1rem;
  background-color: #000;
  animation: fita 20s linear infinite;

  p {
    color: #f9a21e;
    font-size: 1rem;
  }
}

@keyframes fita {
  from {
    transform: translateX(35%);
  }

  to {
    transform: translateX(-100%);
  }
}

header {
  position: relative;
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  position: absolute;
  width: 50vw;
  height: 100vh;
  left: -50vw;
  top: 0;
  background-color: #000;
  z-index: 999;
  transition: left 0.3s ease-in-out;
  /* Animação suave */
}

.nav-active {
  left: 0;
}

.nav-filtros {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-top: solid 1px #e1e1e15b;
}

.nav-filtros-li {
  color: #e1e1e1;
  border-bottom: solid 1px #e1e1e15b;
  padding: 1rem;
}

.icons,
.menu {
  width: 5rem;
  height: 5rem;
}

.icons img,
.menu img {
  width: 4rem;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 15rem;
  height: 6rem;
}

.CEP {
  position: relative;
  display: flex;
  border: solid 1px #00000070;
  padding: 0.5rem;
  margin-bottom: 1px;
  align-items: center;
  background-color: #e1e1e1;
}

.CEP img {
  width: 3rem;
  height: 3rem;
}

#seta-CEP {
  position: absolute;
  right: 0;
}

.carrossel-banners {
  display: flex;
  width: 100vw;
  height: 475px;
  overflow: hidden;
  position: relative;
}

.fotos {
  min-width: 100vw;
  height: 475px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.fotos.active {
  opacity: 1;
  position: relative;
}

.fotos img {
  width: 100vw;
  height: 475px;
  object-fit: cover;
}

/* Footer */

.footer {
  background-color: #000;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.container-footer {
  width: 100%;
  padding: 2rem;
  /* background-color: #1f1c1c; */
}

.img-footer {
  padding: 2rem;
  width: 22rem;
  height: auto;
}

.info-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.infos-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #000;
  border-radius: 1rem;
  border: 1px #f9a21e solid;
  padding: 0.5rem;
  width: 20rem;
}

.svgs-footer {
  width: 2rem;
  height: 2rem;
}